{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
		<!-- Indicators -->
		<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<div class="item active">
						<div class="fill" style="background-image:url('/media/filer_public_thumbnails/filer_public/19/f6/19f6d643-6ff0-4f3a-b792-0438cc17a1ac/1.jpg__1170x0_q85_subsampling-2_upscale.jpg');"></div>
						<div class="carousel-caption">
								<h2>Caption 1</h2>
						</div>
				</div>
				<div class="item">
						<div class="fill" style="background-image:url('/media/filer_public_thumbnails/filer_public/d8/3f/d83fc4a6-63d3-46ba-abe7-f719ab016895/img_20160517_175257151_hdr.jpg__1170x0_q85_subsampling-2_upscale.jpg');"></div>
						<div class="carousel-caption">
								<h2>Caption 2</h2>
						</div>
				</div>
				<div class="item">
						<div class="fill" style="background-image:url('/media/filer_public_thumbnails/filer_public/e1/5a/e15a7586-deef-4555-90dc-0b0b05ec35b1/13318_radha-gopinath-iskcon-desire-tree-devotee-network.jpg__1170x0_q85_subsampling-2_upscale.jpg');"></div>
						<div class="carousel-caption">
								<h2>Caption 3</h2>
						</div>
				</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="icon-next"></span>
		</a>
</header>


	{% placeholder content or %}
	<div class="row">
			<div class="col-lg-12">
					<p>Most of Start Bootstrap's unstyled templates can be directly integrated into the Modern Business template. You can view all of our unstyled templates on our website at <a href="http://startbootstrap.com/template-categories/unstyled">http://startbootstrap.com/template-categories/unstyled</a>.</p>
			</div>
	</div>
	{% endplaceholder %}
{% endblock content %}
